.cartitems{
    margin: 100px 170px;
}

.cartitems hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}

.cartitems-format-main{
    display: grid;
    grid-template-columns: 2fr 2fr 0.5fr 0.5fr 0.5fr 0.5fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}

.cartitems-format{
    font-size: 17px;
    font-weight: 700;
}

.carticon-producticon{
    height: 200px;
}

.cartitems-removeicon{
    width: 15px;
    margin: 0 40px;
    cursor: pointer;
}

.cartitems-quantity{
    width: 64px;
    height: 50px;
    border: 2px solid orange;
    background: #fff;
}

.cartitems-down{
    display: flex;
    margin: 100px 0;
}

.cartitems-total{
    flex: 1;
    display: flex;
    gap: 40px;
    flex-direction: column;
    margin-right: 200px;
}

.cartitems-totalitems{
    display: flex;
    padding: 15px 0;
    justify-content: space-between;
}

.cartitems-total button{
    border: none;
    outline: none;
    width: 260px;
    height: 60px;
    background: orange;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.cartitems-promocode{
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}

.cartitems-promocode p{
    color: #555;
}

.cartitems-promobox{
    width: 500px;
    margin-top: 15px;
    padding-left: 20px;
    height: 60px;
    background: #eaeaea;
}

.cartitems-promobox input{
    border: none;
    outline: none;
    font-size: 16px;
    background: transparent;
    width: 310px;
    height: 50px;
}

.cartitems-promobox button{
    border: 0;
    font-weight: 600;
    width: 170px;
    height: 60px;
    cursor: pointer;
    font-size: 18px;
    color: white;
    background: orange;
}