.shop-category{
    background-color: antiquewhite;
}

.shopcategory-indexsort{
    display: flex;
    margin: 20px 170px;
    justify-content: space-between;
    align-items: center;
}

.shopcategory-sort{
    display: flex;
    gap: 10px;
    padding: 10px 20px;
    border: 3px solid orange;
    border-radius: 40px;
}

.shopcategory-indexsort p span{
    font-weight: 600;
}

.shopcategory-products{
    margin: 20px 170px 0 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 80px;
    column-gap: 20px;
}

.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto 0 auto;
    border-radius: 75px;
    background-color: orange;
    color: white;
    font-size: 20px;
    font-weight: 500;
    width: 230px;
    height: 70px;
    cursor: pointer;
}