/* *{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
} */

.navbar{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #343445;
    color: white;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-menu{
    padding: 0 350px 0 0;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    font-weight: 500;
    font-size: 20px;
}

.nav-menu li{
    cursor: pointer;
}

.nav-menu hr{
    margin-top: 10px;
    border: none;
    height: 3px;
    border-radius: 10px;
    background: orange;
}

.nav-login-cart{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}

.nav-login-cart button{
    width: 157px;
    height: 58px;
    outline: none;
    border-radius: 7px;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid #7a7a7a;
    font-size: 20px;
}

.nav-login-cart button:active{
    background-color: gray;
    transform: scale(0.9);
}

.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
    margin-left: -450px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}